#page-blog-detail {}
.article_detail {margin: 0 0 100px}
.news_detail {}
.news_title {line-height: 36px;margin: 0 0 20px;}
.news_cover {background-position: 50% 50%; background-repeat: no-repeat;background-size: cover;margin: 0;@include responsive-ratio(720px,325px);position: relative;margin: 0 0 20px;
  img {max-width: 100%}
}
.news_caption {background: $color-base;position: absolute;left: 0;top: 0;height: 100%;color: #fff;width: 30%;padding: 30px 20px;font-size: $font-size-m;
  @media (max-width: $bp-sm) {
    background: rgba(41,22,114,0.5);position: relative;top: inherit;left: inherit;width: 100%;
  }
}
.news_content {line-height: 22px;padding: 0 0 0 90px;position: relative;margin: 0 0 30px;
  @media (max-width: $bp-sm) {
    padding: 0;
  }
}
.news_share {position: absolute;left: 40px;top: 0px;
  @media (max-width: $bp-sm) {
    display: none;
  }
}
.news_share_icon {display: block;margin: 20px 0;color:$color-text;font-size: 20px;text-align: center;
  &:hover {color: $color-base}
}
.news_article_data {
  img {max-width: 100%}
}

.news_date {text-align: right;color: #999}