#header {background: #fff;border-bottom: solid 3px #c2c2c2}
.header_inner {position: relative;min-height: inherit;padding-top: 10px;padding-bottom: 10px;
  @media (min-width: $bp-m) {
    min-height: 70px;
  }
}
#logo {margin: 0;
  img { max-width: 50%;
    @media (min-width: $bp-sm) {
      max-width: 70%;
    }
    @media (min-width: $bp-m) {
      max-width: 100%;
    }
  }
}
.site-description {position: absolute;text-indent: -9999em}