#sidebar {
}

.sidebar_lst {
  @extend %reset-lst
}

.sidebar_lst_item {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: solid 1px $color-border;
  display: flex;
  &:last-child {
    border: none
  }
}

.sidebar_lst_thumb {
  display: block;
  width: 70px;
  margin-right: 15px
}

.sidebar_lst_img {
  width: 100%;
}

.sidebar_lst_content {
  flex: 1
}

.sidebar_lst_title {
  @extend %title-s;
  margin-bottom: 12px
}

.sidebar_lst_btn {
  @include button(80px, 25px);
}

.categories_tours {
  @extend %reset-lst;
  & > li {margin-bottom: 30px;
    &:last-child {border: none}
  }
  ul.children {
    @extend %reset-lst;
    .cat-item {border-bottom: solid 1px $color-border;
      &.current-cat {
        a {color: $color-link;}
      }
      &:last-child {border: none}
    }
  }
  .cat-item.cat-item-23,
  .cat-item.cat-item-24 {
    & > a {font-weight: bold}
  }
  a {
    font-size: $font-size-m;
    display: block;

    padding: 10px 0;
    &:hover {text-indent: 5px}
  }
}